.Listbox {
    background: var(--bg);
}

.ListboxButton {
    padding: 2px var(--p-16px);
    background: var(--light-bg);
    border-radius: 34px;
    outline: none;
    border: none;
    display: flex;
    align-items: center;

    &.btnOpen {
        color: var(--accent);
    }

    .ListboxButtonArrow {
        fill: var(--hint);
        vertical-align: middle;
        width: 32px;
        height: 32px;
        transition: 0.3s all;

        &.open {
            transform: rotate(-180deg);
            fill: var(--accent);
        }
    }
}

.ListboxItem {
    color: var(--text-color);

    &.active {
        background-color: var(--light-bg);
        color: var(--accent);
    }

    &.selected {
        background: var(--light-bg);
    }
}
