.Text {
    margin-bottom: 1rem;
}

.TextItem:not(:last-child) {
    margin-bottom: 1rem;
}

.size_s {
    .TextTitle {
        font: var(--font-m);
    }

    .TextParagraph {
        font: var(--font-s);
    }
}

.size_m {
    .TextTitle {
        font: var(--font-l);
    }

    .TextParagraph {
        font: var(--font-m);
    }
}

.size_l {
    .TextTitle {
        font: var(--font-xl);
    }

    .TextParagraph {
        font: var(--font-l);
    }
}

.error {
    .TextTitle {
        color: var(--error-title-color);
    }

    .TextParagraph {
        color: var(--error-text-color);
    }
}

.primary {
    .TextTitle {
        color: var(--primary-color);
    }

    .TextParagraph {
        color: var(--secondary-color);
    }
}

.invert {
    .TextTitle {
        color: var(--inversion-primary-color);
    }

    .TextParagraph {
        color: var(--inversion-secondary-color);
    }
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}
