.Drawer {
    transition: 0.5s all;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: flex-end;
}

.DrawerContent {
    z-index: 11;
    position: fixed;
    left: 2vw;
    height: calc(100vh + 100px);
    width: 96vw;
    border-radius: 12px 12px 0;
    background: var(--bg-color);
    touch-action: none;
    padding: 15px;
}

.opened {
    pointer-events: auto;
    opacity: 1;
    padding: 2rem;
    background-color: var(--card-bg-color);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    z-index: 10;

    .DrawerContent {
        transform: translateY(0%);
        background-color: var(--card-bg-color);
    }
}
