.Text {
    // margin-bottom: var(--m-text);
}

.TextItem:not(:last-child) {
    margin-bottom: var(--m-text);
}

.size_s {
    .TextTitle {
        font: var(--font-m-text);
    }

    .TextParagraph {
        font: var(--font-s-text);
    }
}

.size_m {
    .TextTitle {
        font: var(--font-l-title);
    }

    .TextParagraph {
        font: var(--font-m-text);
    }
}

.size_l {
    .TextTitle {
        font: var(--font-xl-title);
    }

    .TextParagraph {
        font: var(--font-l-title);
    }
}

.error {
    .TextTitle {
        color: var(--cancel);
    }

    .TextParagraph {
        color: var(--cancel);
    }
}

.primary {
    .TextTitle {
        color: var(--text-color);
    }

    .TextParagraph {
        color: var(--text-color);
    }
}

.accent {
    .TextTitle {
        color: var(--accent);
    }

    .TextParagraph {
        color: var(--accent);
    }
}

.bold {
    .TextTitle,
    .TextParagraph {
        font-weight: 700;
    }
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.margin_0 {
    margin-bottom: 0;
}

.margin_8 {
    margin-bottom: 8px;
}

.margin_16 {
    margin-bottom: 16px;
}

.margin_24 {
    margin-bottom: 24px;
}

.margin_32 {
    margin-bottom: 32px;
}
