.Button {
    padding: 1rem 2rem;
    margin: 0;
    cursor: pointer;
}

.clear {
    padding: 0;
    outline: none;
    border: none;
    background: none;
    font-weight: bold;
    color: var(--primary-color);
}

.outline {
    border: 2px solid var(--inversion-primary-color);
    color: var(--button-color);
    font-weight: bold;
    border-radius: 5px;
    background: none;
}

.cancel {
    border: 2px solid var(--error-title-color);
    color: var(--error-title-color);
    border-radius: 5px;
    background: none;
}

.background {
    color: var(--secondary-color);
    background-color: var(--button-color);
    border: none;
}

.backgroundInverted {
    color: var(--inversion-primary-color);
    background-color: var(--secondary-color);
    border: none;
    font-weight: bold;
}

.square {
    padding: 0;
}

.square.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.size_m {
    font: var(--font-m);
}

.size_l {
    font: var(--font-l);
}

.size_xl {
    font: var(--font-xl);
}

.Button:disabled {
    opacity: 0.5;
}
