.Sidebar {
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background-color: var(--inversion-bg-color);
    transition: width 0.3s;
    position: relative;

    // padding: var(--sidebar-padding);
}

.switcherContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: calc(100% - var(--sidebar-padding));
    bottom: 2rem;
    gap: 1rem;
    padding: 0 1rem;
}

.collapsedButton {
    position: absolute;
    bottom: 2rem;
    right: -2rem;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
}

.link {
    display: flex;
    padding: 1rem 2rem;
    width: calc(100% - var(--sidebar-padding));
    justify-content: center;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: var(--primary-color);

    &.active {
        background: var(--bg-color);
        border-radius: 1rem 0 0 1rem;

        &:not(:first-child)::before,
        &::after {
            content: "";
            position: absolute;
            width: var(--sidebar-nav-rounding);
            height: var(--sidebar-nav-rounding);
            border-radius: var(--sidebar-nav-rounding);
        }

        &:not(:first-child)::before {
            top: var(--sidebar-nav-rounding-inverted);
            right: 0;
            box-shadow: 1rem 1rem 0 var(--bg-color);
        }

        &::after {
            bottom: var(--sidebar-nav-rounding-inverted);
            right: 0;
            box-shadow: 1rem -1rem 0 var(--bg-color);
        }
    }

    svg {
        fill: var(--inversion-primary-color);
        margin-right: 1rem;
    }

    .linkTitle {
        opacity: 0;
        width: 0;
        white-space: nowrap;
        transition: 0.2s all;
    }
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switcherContainer {
        flex-direction: row;
        transition: 0.3s all;
    }

    .link {
        justify-content: flex-start;
    }

    .linkTitle {
        opacity: 1;
        width: fit-content;
    }
}
