.Sidebar {
    max-width: var(--sidebar-width);
    width: 100%;
    height: calc(100vh - var(--navbar-height));
    background-color: var(--block-bg-color);
    transition: max-width 0.3s;
    position: relative;

    // padding: var(--sidebar-padding);
    .switcherContainer {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: calc(100% - var(--sidebar-padding));
        bottom: 2rem;
        gap: 1rem;
        padding: 0 1rem;
    }

    .collapsedButton {
        position: absolute;
        bottom: 2rem;
        right: -2rem;
        background: var(--block-bg-color);
        color: var(--icon-color);
    }

    &.collapsed {
        max-width: var(--sidebar-width-collapsed);

        .switcherContainer {
            flex-direction: row;
            transition: 0.3s all;
        }
    }
}

.SidebarRedesigned {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2rem;
    background-color: var(--light-bg);
    height: 100%;
    position: relative;
    max-width: var(--w-sidebar);
    width: 100%;
    overflow: hidden;
    transition: 0.5s max-width;

    .collapsedButton {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        height: 251px;
        width: 32px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        margin: auto;
    }

    .arrow {
        transform: rotate(-90deg);
        transition: 0.5s transform;

        &:hover {
            fill: var(--accent);
        }
    }

    &.collapsed {
        max-width: var(--w-sidebar-collapsed);

        .SidebarListItems {
            align-items: start;
        }

        .switcherContainer {
            margin-bottom: 2.5rem;
            flex-direction: row;
            transition: 0.5s all;
        }

        .collapsedButton {
            left: auto;
            margin: auto 0;
        }

        .isButtonCollapsed {
            transform: rotate(90deg);
        }
    }

    .AppLogo {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .SidebarListItems {/* stylelint-disable-line */
        width: 100%;
        align-items: center;
    }

    .switcherContainer {/* stylelint-disable-line */
        margin-top: auto;
        margin-bottom: 1rem;
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 0.5s all;
    }
}
