.Sidebar {
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    background-color: var(--block-bg-color);
    transition: width 0.3s;
    position: relative;

    // padding: var(--sidebar-padding);
}

.switcherContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: calc(100% - var(--sidebar-padding));
    bottom: 2rem;
    gap: 1rem;
    padding: 0 1rem;
}

.collapsedButton {
    position: absolute;
    bottom: 2rem;
    right: -2rem;
    background: var(--block-bg-color);
    color: var(--icon-color);
}

.items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .switcherContainer {
        flex-direction: row;
        transition: 0.3s all;
    }
}
