.link {
    display: flex;
    padding: 1rem 2rem;
    width: calc(100% - var(--sidebar-padding));
    justify-content: center;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: var(--primary-color);

    svg {
        fill: var(--icon-color);
        margin-right: 1rem;
    }

    &:hover {
        svg {
            transform: scale(1.1);
            fill: var(--accent-color);
        }
    }

    &.active {
        background: var(--bg-color);
        border-radius: 1rem 0 0 1rem;

        // &:not(:first-child)::before,
        // &::after {
        //    content: "";
        //    position: absolute;
        //    width: var(--sidebar-nav-rounding);
        //    height: var(--sidebar-nav-rounding);
        //    border-radius: var(--sidebar-nav-rounding);
        // }
        // &:not(:first-child)::before {
        //    top: var(--sidebar-nav-rounding-inverted);
        //    right: 0;
        //    box-shadow: 1rem 1rem 0 var(--bg-color);
        // }
        // &::after {
        //    bottom: var(--sidebar-nav-rounding-inverted);
        //    right: 0;
        //    box-shadow: 1rem -1rem 0 var(--bg-color);
        // }
    }

    .linkTitle {
        opacity: 0;
        width: 0;
        white-space: nowrap;
        transition: 0.2s all;
    }
}

.link.collapsed {
    justify-content: flex-start;

    .linkTitle {
        opacity: 1;
        width: fit-content;
    }
}
