.ArticleList {
    padding-right: 2rem;
    padding-left: 3rem;

    &.grid:not(.ArticleListGrid),
    .ArticleListGrid, {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 16px;
    }

    &.list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

.ArticleListNormal {
    height: calc(100vh - var(--head-articles-height));
    overflow-y: scroll;
}

.ArticleListNormal:not(.list) .ArticleListItem,
.ArticleListGridItem {
    width: calc((100% - 2rem) / 3);
    height: 22rem;
}

.ArticleListRedesigned.ArticleListNormal {
    height: auto;
}

.ArticleListRedesigned.grid:not(.ArticleListGrid) .ArticleListItem,
.ArticleListRedesigned.grid.ArticleListNormal .ArticleListItem,
.ArticleListRedesigned .ArticleListGridItem {
    width: 230px;
    max-height: 346px;
    overflow: hidden;
}

.ArticleListRedesigned {
    padding-right: 0;
    padding-left: 0;
}

.ArticlesListFooter {
    padding-bottom: 2rem;
}
