.ArticleList {
    padding-right: 2rem;
    padding-left: 3rem;

    &.grid:not(.ArticleListGrid),
    .ArticleListGrid, {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 16px;
    }

    &.list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

.ArticleList.grid:not(.ArticleListGrid) .ArticleListItem,
.ArticleListGridItem {
    width: calc((100% - 2rem) / 3);
    height: 22rem;
}

.ArticlesListFooter {
    padding-bottom: 2rem;
}
