.Dropdown {
    z-index: 3;
}

.MenuItem {
    width: 100%;
    white-space: nowrap;

    &.active {
        background-color: var(--accent-color);
    }
}

.btn {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    background: none;
}
