.ArticleRecommendationsList {
    margin-bottom: 2rem;

    & .recommendations.recommendationsList {
        flex-wrap: nowrap;
        overflow-x: scroll;
        padding: 1rem 0;
        width: 100%;
        overflow-y: hidden;

        & > div {
            width: 100%;
            min-width: 200px;
        }
    }
}
