.Modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 60%;
    padding: 1rem;
    transform: scale(0.5);
    transition: 0.3s transform;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalRedesigned {
    color: var(--text-color);

    .content {
        background: var(--bg);
    }
}

.modalOld {
    color: var(--primary-color);

    .content {
        background: var(--inversion-bg-color);
    }
}

.opened {
    z-index: var(--overlay-index);
    opacity: 1;
    pointer-events: auto;

    .content {
        transform: scale(1);
    }
}

.closing {
    opacity: 0;
    transition: 0.3s opacity;

    .content {
        transform: scale(0.3);
        transition: 0.3s transform;
    }
}

.clear {
    .content {
        background: transparent;
    }
}
