.app_chocolate_theme {
    --bg-color: #7e6450;
    --block-bg-color: #2a1311;
    --primary-color: #fcf9f2;
    --secondary-color: #f1d7b4;
    --button-color: #a9390a;
    --inversion-bg-color: #be9375;
    --inversion-primary-color: #153115;
    --inversion-secondary-color: #56131d;
    --icon-theme-color: #563a22;
    --icon-color: #f18836;
    --accent-color: #65d9cb;

    // Skeleton
    --skeleton-color: #be9375;
    --skeleton-blick-color: #fcf9f2;

    // Code
    --code-bg-color: #2a1311;
}
