.app_dark_theme {
    --bg-color: #656365;
    --block-bg-color: #312f31;
    --primary-color: #f7f7f7;
    --secondary-color: #dddfcf;
    --button-color: #1c1b1d;
    --inversion-bg-color: #dfd9cf;
    --inversion-primary-color: #37383a;
    --inversion-secondary-color: #37363d;
    --icon-theme-color: #656365;
    --icon-color: #6c97a1;
    --accent-color: #f1453d;

    // Skeleton
    --skeleton-color: #1c1b1d;
    --skeleton-blick-color: #6c97a1;

    // Code
    --code-bg-color: #312f31;

    // Card
    --card-bg-color: #343234;

    /*   - redesigned -   */
    --bg: #0c1214;
    --dark-bg: #090f11;
    --light-bg: #151c1f;
    --text-color: #dbdbdb;
    --hint: #555;
    --cancel: #d95757;
    --save: #6cd98b;
    --icon: #74a2b2;
    --icon-theme: #090f11;
    --shadow-icon-theme: #74a2b2;
    --accent: #5ed3f3;
    --sceleton: linear-gradient(90deg, #151c1f 0%, #151c1f 25.52%, #0c1214 34.9%, #151c1f 60.75%, #151c1f 100%);
}
