.app_light_theme {
    --bg-color: #f6f6f6;
    --primary-color: #132449;
    --secondary-color: #4985c5;
    --button-color: #f5bfc8;
    --inversion-bg-color: #406d96;
    --inversion-primary-color: #ecede8;
    --inversion-secondary-color: #f5bfc8;
    --icon-theme-color: #f6f6f6;
}

// .app_light_theme {
//   --bg-color: #d8e8e8;
//   --primary-color: #132449;
//   --secondary-color: #406d96;
//   --button-color: #e24748;
//   --inversion-bg-color: #406d96;
//   --inversion-primary-color: #a8d0da;
//   --inversion-secondary-color: #e24748;
//   --icon-theme-color: #d8e8e8;
// }

// .app_light_theme {
//    --bg-color: #ebe5db;
//    --primary-color: #b35417;
//    --secondary-color: #ce8523;
//    --button-color: #fe9677;
//    --inversion-bg-color: #354739;
//    --inversion-primary-color: #fe9677;
//    --inversion-secondary-color: #ad5777;
//    --icon-theme-color: #ebe5db;
// }
