.app_dark_theme {
    --bg-color: #510a32;
    --primary-color: #be375f;
    --secondary-color: #ef8555;
    --button-color: #f5ec6d;
    --inversion-bg-color: #2d142c;
    --inversion-primary-color: #fe9677;
    --inversion-secondary-color: #f5ec6d;
    --icon-theme-color: #510a32;
    --border-color: rgb(239 133 85 / 50%);
}

// .app_dark_theme {
//   --bg-color: #2d142c;
//   --primary-color: #ee4540;
//   --secondary-color: #801336;
//   --button-color: #c72141;
//   --inversion-bg-color: #510a32;
//   --inversion-primary-color: #fe9677;
//   --inversion-secondary-color: #c72141;
//   --icon-theme-color: #2d142c;
// }
