.app_light_theme {
    --bg-color: #fff;
    --block-bg-color: #acb396;
    --primary-color: #312f31;
    --secondary-color: #2a2b23;
    --button-color: #993240;
    --inversion-bg-color: #191919;
    --inversion-primary-color: #b1b1b1;
    --inversion-secondary-color: #959d79;
    --icon-theme-color: #fff;
    --icon-color: #354739;
    --accent-color: #b35417;

    // Skeleton
    --skeleton-color: #959d79;
    --skeleton-blick-color: #acb396;

    // Code
    --code-bg-color: #959d79;
}
