.app_light_theme {
    --bg-color: #e5e5e5;
    --primary-color: #191919;
    --secondary-color: #ea3057;
    --button-color: #5b5553;
    --inversion-bg-color: #b1a7a5;
    --inversion-primary-color: #5b5553;
    --inversion-secondary-color: #e24748;
    --icon-theme-color: #e5e5e5;
    --border-color: rgb(197 73 73 / 50%);

    // --inversion-primary-color: #ff6569;
    // --inversion-secondary-color: #15cfa8;
}

// .app_light_theme {
//   --bg-color: #d8e8e8;
//   --primary-color: #132449;
//   --secondary-color: #406d96;
//   --button-color: #e24748;
//   --inversion-bg-color: #406d96;
//   --inversion-primary-color: #a8d0da;
//   --inversion-secondary-color: #e24748;
//   --icon-theme-color: #d8e8e8;
// }

// .app_light_theme {
//    --bg-color: #ebe5db;
//    --primary-color: #b35417;
//    --secondary-color: #ce8523;
//    --button-color: #fe9677;
//    --inversion-bg-color: #354739;
//    --inversion-primary-color: #fe9677;
//    --inversion-secondary-color: #ad5777;
//    --icon-theme-color: #ebe5db;
// }
