.app_dark_theme {
    --bg-color: #656365;
    --block-bg-color: #312f31;
    --primary-color: #f7f7f7;
    --secondary-color: #dddfcf;
    --button-color: #1c1b1d;
    --inversion-bg-color: #dfd9cf;
    --inversion-primary-color: #37383a;
    --inversion-secondary-color: #37363d;
    --icon-theme-color: #656365;
    --icon-color: #6c97a1;
    --accent-color: #f1453d;

    // Skeleton
    --skeleton-color: #1c1b1d;
    --skeleton-blick-color: #6c97a1;

    // Code
    --code-bg-color: #312f31;
}
