.app_chocolate_theme {
    --bg-color: #7e6450;
    --block-bg-color: #2a1311;
    --primary-color: #fcf9f2;
    --secondary-color: #f1d7b4;
    --button-color: #a9390a;
    --inversion-bg-color: #be9375;
    --inversion-primary-color: #153115;
    --inversion-secondary-color: #56131d;
    --icon-theme-color: #563a22;
    --icon-color: #f18836;
    --accent-color: #65d9cb;

    // Skeleton
    --skeleton-color: #be9375;
    --skeleton-blick-color: #fcf9f2;

    // Code
    --code-bg-color: #2a1311;

    // Card
    --card-bg-color: #312f31;

    /*   - redesigned -   */
    --bg: #2a1311;
    --dark-bg: #1d1209;
    --light-bg: #462f29;
    --text-color: #f1d7b4;
    --hint: #bbb9b2;
    --cancel: #df2302;
    --save: #153115;
    --icon: #f18836;
    --icon-theme: #2a1311;
    --shadow-icon-theme: #1d1209;
    --accent: #65d9cb;
    --sceleton: linear-gradient(90deg, #462f29 0%, #462f29 25.52%, #2a1311 34.9%, #462f29 60.75%, #462f29 100%);
}
