.app.chocolate {
    /* chocolate theme bg (darken) 130a0d / 2a1311 / 4f2017 */
    --bg-color: #2a1311;
    --primary-color: #ad213a;
    --secondary-color: #dba485;
    --additional-color: #56131d;
}
