.app.light {
    --bg-color: #edece5;
    --primary-color: #7c5e51;
    --secondary-color: #b0935e;
    --inversion-bg-color: #1d0f0c;
    --inversion-primary-color: #ae8c8a;
    --inversion-secondary-color: #dfcfbf;
}
