.Page {
    flex-grow: 1;
    padding: 2rem 2rem 2rem 3rem;
    height: calc(100vh - var(--navbar-height));
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
}

.trigger {
    height: 3rem;
    margin-bottom: 2rem;
}

.PageRedesigned {
    overflow-y: auto;
}
