.MainLayout {
    display: grid;
    min-height: 100vh;
    grid-template-areas: "sidebar content rightbar";
    grid-template-columns: min-content 1fr var(--w-rightbar);
}

.sidebar {
    grid-area: sidebar;
    padding: var(--p-sidebar);
    max-width: var(--w-sidebar-collapsed);
    width: 100%;
}

.content {
    grid-area: content;
    max-width: 75rem;
    width: 100%;
    justify-self: center;
    padding: var(--p-sidebar);
}

.rightbar {
    grid-area: rightbar;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sidebar,
.rightbar {
    position: sticky;
    top: 0;
    height: 100vh;
}

// .header {}

.toolbar {
    height: 100%;
    width: 100%;
}
