.ArticleDetailsPage {
    display: block;
}

.commentsAddForm {
    margin-bottom: 1.5rem;
}

.recommendationsWrapper {
    margin-bottom: 2rem;
}

.recomendationsList {
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 1rem 0;
}
