.Card {
    padding: 1.5rem;
    border-radius: 2rem;
    color: var(--text-color);
}

.clear {
    background: transparent;
}

.standard {
    background: var(--bg);
}

.outline {
    border: 1px solid var(--accent);
    background: var(--bg);
}

.light {
    background: var(--light-bg);
}

.dark {
    background: var(--dark-bg);
}

.p-0 {
    padding: 0;
}

.p-8 {
    padding: 8px;
}

.p-16 {
    padding: 16px;
}

.p-24 {
    padding: 24px;
}

.p-32 {
    padding: 32px;
}

.max {
    width: 100%;
}
