.RatingCard {
    padding: 1rem;
    background: var(--card-bg-color);
    border-radius: var(--modal-border-radius);
    margin-bottom: 2rem;

    .RatingCardModalForm {
        padding: 3rem;
        background-color: var(--bg-color);
    }
}

.RatingCardRedesigned {
    padding: 1rem;
}
