.Dropdown {
    position: relative;
    z-index: 3;
}

.MenuItems {
    position: absolute;
    border: 1px solid var(--icon-color);
    box-shadow: 2px 2px 10px var(--icon-color);
    border-radius: 2px;

    &.bottom {
        top: 100%;
    }

    &.topLeft {
        right: 100%;
        bottom: 100%;
    }

    &.topRight {
        left: 100%;
        bottom: 100%;
    }

    &.bottomRight {
        left: 100%;
        top: 100%;
    }

    &.bottomLeft {
        right: 100%;
        top: 100%;
    }
}

.MenuItem {
    position: relative;
    padding: 0.3rem 1rem 0.3rem 1.5rem;
    line-height: var(--font-line-l);
    cursor: pointer;
    background: var(--bg-color);
    width: 100%;
    white-space: nowrap;

    &.active {
        background-color: var(--accent-color);
    }
}

.btn {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    background: none;
}
