.InputWrapper {
    display: flex;
    align-items: center;
    border-radius: 48px;
    border: 2px solid var(--icon);
    width: 100%;

    .addonLeft,
    .addonRight {
        display: flex;
    }

    svg {
        fill: var(--icon);
        width: 32px;
        height: 32px;
    }

    .Input {
        box-sizing: border-box;
        outline: none;
        border: none;
        background: transparent;
        padding: 0;
        width: 100%;
        color: var(--hint);
        font: var(--font-m-text);
        font-weight: 400;

        &:focus {
            outline: none;
            border: none;
        }
    }

    &.focused:not(&.readonly) {
        border: 2px solid var(--accent);

        .addonLeft svg,
        .addonRight svg {
            fill: var(--accent);
        }
    }

    &.readonly {
        opacity: 0.7;
    }

    &.withAddonLeft {
        padding-left: var(--p-8px);
    }

    &.withAddonRight {
        padding-right: var(--p-8px);
    }

    &.withAddonLeft,
    &.withAddonRight {
        fill: var(--icon);
    }

    &:not(&.withAddonLeft),
    &:not(&.withAddonRight) {
        padding: 6px var(--p-16px);
    }
}

.labelWrapper {
    display: flex;
    align-items: center;
    gap: var(--p-8px);
    width: 100%;
    white-space: nowrap;

    &:not(&.readonlyLabel) {
        cursor: pointer;
    }
}
