.wrapper {
    display: grid;
    grid-template-areas: "left avatar righ";
    grid-template-columns: 200px 1fr 200px;
}

.left {
    grid-area: left;
}

.avatar {
    grid-area: avatar;
}

.righ {
    grid-area: righ;
}
