.AppLink {
    text-decoration: none;
    cursor: pointer;
    color: var(--primary-color);
}

.primary {
    color: var(--inversion-primary-color);
}

.secondary {
    color: var(--inversion-secondary-color);
}
